.header {
    background: #ffffff;
}

.header__inner {
    margin: 0 auto;
    padding: 20px 15px;
    max-width: 100%;
    text-align: center;
    border-bottom: 1px solid #f0f0f0;
}

.header__logo {
    color: #887a68;
    text-decoration: none;
    font-size: 24px;
}

body {
    font-family: "Georgia", sans-serif;
}
